.sky-list .sky-reveal {
	min-height: 0;

	&:after {
		content: none;
	}
}

.sky-list-content {
	width: 100%;
	text-align: center;
}

.sky-list-message {
	text-align: left;
}

.sky-list-result {
	position: relative;
	transition: opacity 0.2s 0s;
	text-align: left;

	.loading & {
		opacity: 0.2;
		transition-delay: 0.3s;
	}

	ul {
		display: flex;
	}
}

.sky-list-pagination {
	button {
		flex-shrink: 0;
	}

	.loading & {
		pointer-events: none;
	}
}

.sky-list-numeric {
	button {
		display: inline-block;
		cursor: pointer;
		background: none;
	}
}