.sky-list {
	&.loading {
		.sky-list-result {
			opacity: 0.2;
			transition-delay: 0.3s;
		}

		.sky-list-pagination {
			pointer-events: none;
		}
	}
}

.sky-list-content {
	width: 100%;
	text-align: center;
}

.sky-list-message {
	text-align: left;
}

.sky-list-result {
	position: relative;
	transition: opacity 0.2s 0s;
	text-align: left;

	ul {
		display: flex;
	}
}

.sky-list-pagination {
	button {
		flex-shrink: 0;
	}
}

.sky-list-numeric {
	button {
		display: inline-block;
		cursor: pointer;
		background: none;
	}
}